.selection {
    background-color: var(--grey-color);
}

.selection .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0;
}

.selection .filter_page {
    display: flex;
    align-items: center;
}

.selection .filter_page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.selection .filter_page-current {
    font-weight: 700;
}

/* ---------------- Tao nut trai phai -------------- */

.selection .filter_page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.selection .filter_page-btn {
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
}

.selection .filter_page-btn-disabled {
    cursor: default;
    background-color: #f9f9f9;
}

.selection .filter_page-btn-disabled .filter_page-icon {
    color: #ccc;
}

.selection .filter_page-btn:first-child {
    border-right: 0.5px solid var(--grey-border);
}

.selection .filter_page-icon {
    margin: auto;
    color: #555;
}

.selection .select-input_last {
    background-color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 550;
    display: flex;
    justify-content: center;
}
