.selection {
    background-color: #f1f1f1;
}

.selection .home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
}

.selection .home-filter_page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.selection .home-filter_page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.selection .home-filter_page-current {
    color: red;
}
/* 20:55 */
